.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  margin: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;

  .title h2 {
    margin: 0;
  }

  &:before {
    content: '';
    background: #4e93e6;
    width: 55px;
    height: 3px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

