.block {
    min-height: 60vh;
    background-color: azure;
}

.contactsContainer {
    flex-direction: column;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    width: 70%;
    height: 300px;
}

.title {
    background-color: pink;
}

.input {
    min-height: 20%;
}

.textarea {
    min-height: 50%;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(45deg, #d5d1d1, #fef8f8);
    box-shadow:  6px -6px 5px #726f6f,
    -6px 6px 5px #ffffff;
    border:none;
    margin: 15px;
}
@media screen and (max-width: 624px) {
    .inputBlock {
        width: 90%;
    }
}