.singleSkill {
    width: 250px;

    display: flex;
    background-color: palegreen;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}

.description {
    background-color: darkturquoise;
    text-align: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: black;
}