@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";


.singleSkill {
    width: 250px;
    background-color: $backgroundColor;
    @include flex(space-around,center);
    @include text($mainFont,1.8,24px);
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.description {
@include text($font2,1.2,12px)
}

.icon {
    height: 60px;
    width: 60px;
    @include icons
    }

