@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.block {
    max-height: 40vh;
    min-height: 35vh;
    background-color: $backgroundColor;
    @media screen and (max-height: 567px)  {
        min-height: 250px;
    }
    @media screen and (max-width: 405px) {
        min-height: 320px;
    }
    .remoteContainer {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        .button {
            width: 150px;
            height: 50px;
            margin-top:30px;
            @include button
        }
    }
}






