.block {
    height: 100vh;
    background-color: gold;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.title {
    background-color: darkred;
}

.skills {
    justify-content: space-around;
    /*align-items: center;*/
}