.main {
    background-color: darkgreen;
    height: 100vh;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 300px;
    background-color: azure;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: snow;
}

