.main {
    background-color: darkgreen;
    height: 100vh;
}

.text {
    width: 300px;
    background-color: azure;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: snow;
}

.container {
    justify-content: space-around;
}

