@import "src/common/styles/sass/mixins";


.mainBlock {
    background-color: $backgroundColor;
    min-height: 100vh;
    .container {
        .text {
            width: 300px;
            background-color: $backgroundColor2;
            @include text($mainFont,1.0,24px);
            .name{
                @include  text($mainFont,1.5,36px)
            }
        }
        .photo {
            max-width: 300px;
            max-height: 400px;
            background-color: snow;
        }
    }
}






