.block {
    background-color: coral;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    flex-wrap: wrap;
}

.blackWhite {
    width: 70%;
    min-width: 360px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.square {
    width: 50px;
    background-color: gray;
}

.copyLeft {
    display: flex;
    justify-content: center;
    align-items: center;

}


.img {
    height: 15px;
    width: 15px;
}