@import "../common/styles/sass/variables";

.block {
  background-color: $backgroundColor;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      @media screen and (max-width: 639px)
    {
      justify-content: center
    };
    }
  }
}


